.chat {
  &__container {
    max-width: 996px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  &__field {
    flex: 1 1 0%;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    scrollbar-width: none;

    &_message {
      width: 100%;
      display: flex;
    }
    &_yourMessage {
      width: fit-content;
      max-width: 80%;
      padding: 20px 50px;
      background-color: #1677ff;
      color: #ffffff;
      border-radius: 10px;
      box-shadow: #00000059 0px 5px 15px;
      word-wrap: break-word;

      @media (max-width: 600px) {
        padding: 20px;
      }
    }
    &_assistantMessage {
      width: fit-content;
      max-width: 80%;
      padding: 20px 50px;
      background-color: #238f10;
      color: #ffffff;
      border-radius: 10px;
      box-shadow: #00000059 0px 5px 15px;
      word-wrap: break-word;

      @media (max-width: 600px) {
        padding: 20px;
      }
    }
  }
  &__field::-webkit-scrollbar {
    display: none;
  }
  &__inputBox {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 15px;
    background-color: #1677ff37;
    box-shadow: #00000059 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
