.layout {
  min-height: 100vh;

  &__content {
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
  }

  &__childrenWrapper {
    flex: 1;
  }

  &__menu {
    display: block;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__mobileMenu {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
